<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="pgsvcBehavior">
          <dataContractSerializer maxItemsInObjectGraph="10000000" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_PopGenSvc" maxReceivedMessageSize="2147483647" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:1109/svc/pgsvc.svc/epv03"
        behaviorConfiguration="pgsvcBehavior" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_PopGenSvc" contract="PGSvc.PopGenSvc"
        name="WSHttpBinding_PopGenSvc">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>