<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_PopGenSvc">
                    <reliableSession inactivityTimeout="00:00:10" enabled="true" />
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://xnet.hsl.gov.uk/popgen/svc/pg.svc/epv03"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_PopGenSvc"
                contract="PGSvc.PopGenSvc" name="WSHttpBinding_PopGenSvc">
                <identity>
                    <dns value="xnet.hsl.go.uk" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>